.action-bar {
  padding: 5px;
  border-radius: 4px;
  font-size: 10px;
  text-align: right;

  .action {
    color: grey;

    &:hover {
      color: black;
      cursor: pointer;
    }
  }
}

.note-item {
  margin: 10px 0;

  .note-attendee {
    padding: 0;
  }

  .note {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 3px;

    .with-action {
      border-radius: 3px 3px 0 0;
    }
  }

  .note-action {
    padding: 10px;
    background-color: #1e90ff;
    border-radius: 0 0 3px 3px;
    color: white;
    position: relative;

    .action-icon {
      position: absolute;
      bottom: 5px;
      right: 5px;
      font-size: 15px;
    }
  }

  .initials {
    text-align: center;
    display: block;
    font-weight: bold;
  }

  .avatar-image {
    display: block;
    margin: 0 auto;
    width: 40px;
    border-radius: 100px;
    border: 1px solid #ececec;
    padding: 2px;
  }

}
